/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}